@charset "UTF-8";
/**
 * 生成一个旋转有缺口的圆环
 * @author acelan(xiaobin8[at]staff.sina.com.cn)
 */
/* 环直径 */
/* 环粗细 */
/* 环颜色 */
/* 内容区颜色 */
/* 缺口角度 */
/* 缺口颜色 */
/* 环的class */
/* 环转动动画时长 */
/* 旋转方法 */
@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(-360deg); } }

/* 生成转动环样式 start */
.ring100px {
  width: 100px;
  height: 100px;
  border-radius: 999px;
  background-color: #ffcc00;
  position: absolute;
  overflow: hidden;
  -webkit-animation-name: rotateIn;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; }

.ring100px:before {
  content: ' ';
  width: 80px;
  height: 80px;
  border-radius: 999px;
  background-color: white;
  margin: 10px;
  position: absolute;
  text-align: center;
  line-height: 80px;
  z-index: 1; }

.ring100px:after {
  content: ' ';
  background-color: #cccccc;
  width: 999px;
  height: 999px;
  position: absolute;
  left: 50px;
  top: 50px;
  -webkit-transform-origin: 0% 0%;
  -webkit-transform: skew(45deg); }

/* 生成转动环样式 end */
